image: Visual Studio 2017

skip_tags: true

install:
  - cinst msys2
  - set PATH=C:\msys64\usr\bin;%PATH%

build_script:
  - bash.exe -lc "cd $APPVEYOR_BUILD_FOLDER && ./etc/scripts/write_version_targets.sh"
  - ps: .\build.ps1 -VersionAndPublish (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER)

test: off

artifacts:
- path: .\**\*.nupkg
  name: NuGet
  
nuget:
  disable_publish_on_pr: true 
  
deploy:  
- provider: NuGet
  api_key:
    secure: CxMH3k6k/Rpz1zjToGDAelLWDT/gDqRo08iEUAQsRnL+WRo+4TL5gLiNEUy/GfUy
  on:
    branch: 
    - master
    - /release\/[0-9]\.[0-9]/
